.themes {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #d0d0d0;

    &.selected {
      background: #2f6fed;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
